<header class="header">
    <div class="header-container">
        <h1 class="logo">DT</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="#intro">About</a></li>
                <li><a href="#works">Works</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><a href="mailto:daoduytan2212@gmail.com" class="mail-to">+ email </a>
        <button class="btn-nav"> <span></span></button>
    </div>
</header>
